<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="UBetChaDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />

    <pages maintainScrollPositionOnPostBack="true" />

    <authentication mode="Forms">
      <forms defaultUrl="~/Default.aspx" loginUrl="~/login.aspx" slidingExpiration="true" timeout="2880" />
    </authentication>

  </system.web>

  <!--https://www.codeproject.com/Articles/2905/Role-based-Security-with-Forms-Authentication-->
  <location path="AdminPages">
    <system.web>
      <authorization>
        <!-- Order and case are important below -->
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="MemberPages">
    <system.web>
      <authorization>
        <!-- Order and case are important below -->
        <allow roles="Member,Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
 
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
  
</configuration>
